
@{
    Layout = null;
}

@model ProductViewModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body onload="startTime()">
    <header>
        <section id="top_menu">
            <div class="container">
                <div id="leftmenu">

                    <ul>
                        <li>
                            <a>
                                Kampaniyalar
                            </a>
                        </li>
                        <li>
                            <a>
                                Magazalar
                            </a>
                        </li>
                        <li>
                            <a>
                                Servisler
                            </a>
                        </li>
                        <li>
                            <a>
                                Tez-tez verilen suallar
                            </a>
                        </li>
                    </ul>

                </div>

                <div id="rightmenu">
                    <ul>
                        <li>
                            <a>
                                Ayliq odenis
                            </a>
                        </li>
                        <li>
                            <a>
                                Watchlist
                            </a>
                        </li>
                        <li>
                            <a>
                                Compare
                            </a>
                        </li>
                        <li>
                            <a>
                                *6060
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="bottom_menu">
            <div class="container">
                <section id="a">
                    <div id="Name">
                        <a>Shop Home</a>
                    </div>

                    <div id="search">
                        <input type="text" placeholder="Search..">
                    </div>
                    <div id="daxil">
                        <ul>
                            <li>
                                <a>Daxil Ol</a>
                            </li>
                            <li>
                                <a>Sebet</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
    </header>

    <main>
        <section class="container">
            <div id="menu">
                <div id="Category">





                    @foreach (var category in Model.categories)
                    {
                        <div onmouseover="over()" id="categoryname" class="name">
                            <a href="~/Category/@category.Id">   @category.Name</a>

                            <div class="menu" id="subcategory">
                                @foreach (var subcategory in category.SubCategoryList)
                                {
                                    <div class="name">
                                        <a>@subcategory.Name</a>
                                        @if (subcategory.ProductList.Count != 0)
                                        {
                                            <div class="menu" id="product">
                                                @foreach (var product in subcategory.ProductList)
                                                {
                                                    <div id="products">

                                                        <img src="@product.Path">
                                                        <p>Samsung</p>
                                                    </div>

                                                }

                                            </div>
                                        }
                                    </div>
                                }

                            </div>

                        </div>

                    }

                </div>
                <div id="slider">
                    <div id="slider1">



                        <svg onclick="slider_next(slider1)" id="right_btn" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                             width="24" height="24"
                             viewBox="0 0 172 172"
                             style=" fill:#000000;">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e4e4e4"><path d="M75.50842,23.72236l-18.70913,18.70913l43.56851,43.56851l-43.56851,43.56851l18.70913,18.70913l62.27764,-62.27765z"></path></g></g>
                        </svg>


                        <svg id="left_btn" onclick="slider_prev(slider1)" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                             width="24" height="24"
                             viewBox="0 0 172 172"
                             style=" fill:#000000;">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e4e4e4"><path d="M96.49159,23.72236l-62.27765,62.27764l62.27765,62.27765l18.70913,-18.70913l-43.56851,-43.56851l43.56851,-43.56851z"></path></g></g>
                        </svg>


                    </div>



                    <div id="product_about">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 width="40" height="40"
                                 viewBox="0 0 172 172"
                                 style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="#d4312c"></path><g fill="#ffffff"><path d="M29.24,37.84c-6.62945,0 -12.04,5.41055 -12.04,12.04v72.24c0,6.62945 5.41055,12.04 12.04,12.04h113.52c6.62945,0 12.04,-5.41055 12.04,-12.04v-72.24c0,-6.62945 -5.41055,-12.04 -12.04,-12.04zM29.24,41.28h113.52c4.77071,0 8.6,3.82929 8.6,8.6v3.44h-130.72v-3.44c0,-4.77071 3.82929,-8.6 8.6,-8.6zM20.64,55.04h7.44437l-7.44437,11.45211zM30.14031,55.04h11.70406l-10.06469,15.48h-11.13969v-0.86672zM43.90031,55.04h11.70406l-10.06469,15.48h-11.70406zM57.66031,55.04h11.70406l-10.06469,15.48h-11.70406zM71.42031,55.04h11.70406l-10.06469,15.48h-11.70406zM85.18031,55.04h11.70406l-10.06469,15.48h-11.70406zM98.94031,55.04h11.70406l-10.06469,15.48h-11.70406zM112.70031,55.04h11.70406l-10.06469,15.48h-11.70406zM126.46031,55.04h11.70406l-10.06469,15.48h-11.70406zM140.22031,55.04h11.13969v0.86672l-9.50031,14.61328h-11.70406zM151.36,59.06789v11.45211h-7.44437zM20.64,72.24h130.72v49.88c0,4.77071 -3.82929,8.6 -8.6,8.6h-113.52c-4.77071,0 -8.6,-3.82929 -8.6,-8.6zM35.26,80.84c-2.36497,0 -4.3,1.93503 -4.3,4.3v10.32c0,2.36497 1.93503,4.3 4.3,4.3h17.2c2.36497,0 4.3,-1.93503 4.3,-4.3v-10.32c0,-2.36497 -1.93503,-4.3 -4.3,-4.3zM35.26,82.56h17.2c1.43623,0 2.58,1.14377 2.58,2.58v10.32c0,1.43623 -1.14377,2.58 -2.58,2.58h-17.2c-1.43623,0 -2.58,-1.14377 -2.58,-2.58v-10.32c0,-1.43623 1.14377,-2.58 2.58,-2.58zM67.94,84.28c-0.47495,0.00005 -0.85995,0.38505 -0.86,0.86v10.32c0.00005,0.47495 0.38505,0.85995 0.86,0.86h72.24c0.47495,-0.00005 0.85995,-0.38505 0.86,-0.86v-10.32c-0.00005,-0.47495 -0.38505,-0.85995 -0.86,-0.86zM68.8,86h70.52v8.6h-70.52zM31.82,108.36c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h39.56c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645zM76.54,108.36c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h20.64c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645zM31.82,116.96c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h55.04c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645z"></path></g></g>
                            </svg>
                            <p>Qapida resmilesdirme</p>
                            <a>Nağd, hissə-hissə və ya kartla ödəmə imkanı ilə</a>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 width="40" height="40"
                                 viewBox="0 0 172 172"
                                 style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="#d4312c"></path><g fill="#ffffff"><path d="M85.67456,5.375c-1.77417,0 -3.54834,0.58789 -5.03906,1.77417l-3.7583,3.01294c-12.49268,9.99414 -27.53638,15.84155 -43.49341,16.90186l-9.73169,0.65088c-4.41968,0.29395 -7.78955,4.12573 -7.5061,8.53491l1.84766,31.06372c2.11011,29.25806 15.46362,55.96509 37.604,75.20801l24.78589,21.57349c1.51172,1.30176 3.40137,1.95264 5.29102,1.95264c1.90015,0 3.7898,-0.65088 5.29102,-1.95264l24.80689,-21.57349c22.12988,-19.24292 35.4834,-45.96045 37.59351,-75.25l1.84766,-31.01123c0.27295,-4.41968 -3.09692,-8.25147 -7.5166,-8.54541l-9.72119,-0.65088c-15.96753,-1.0603 -31.01123,-6.90772 -43.50391,-16.90186l-3.7583,-3.01294c-1.48022,-1.18628 -3.26489,-1.77417 -5.03906,-1.77417zM85.67456,10.75c0.59839,0 1.18628,0.19946 1.67969,0.59839l3.7583,3.01294c13.36401,10.68701 29.44702,16.93335 46.50635,18.06714l9.73169,0.65088c1.46973,0.09448 2.59302,1.37524 2.49854,2.85547l-1.84766,30.97974c-1.91065,26.47607 -13.51099,50.74756 -32.76441,68.8147v-0.17847c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v4.98657l-22.42383,19.49487c-0.99731,0.87134 -2.51953,0.87134 -3.52734,0l-22.42383,-19.49487v-4.98657c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v0.17847c-19.24292,-18.06714 -30.85376,-42.32812 -32.7644,-68.7832l-1.84766,-31.02173c-0.08398,-1.46973 1.03931,-2.75049 2.50903,-2.84497l9.72119,-0.65088c17.06983,-1.13379 33.15283,-7.38012 46.51685,-18.06714l3.7478,-3.01294c0.50391,-0.39892 1.0918,-0.59839 1.67969,-0.59839zM85.67456,18.45557c-1.0708,0 -2.1626,0.31494 -3.07593,0.96582l-6.90771,4.8291c-11.66333,8.15698 -25.32129,12.96509 -39.50415,13.92041l-1.75317,0.11548c-1.48022,0.09448 -2.60352,1.37524 -2.50903,2.85547c0.09448,1.41724 1.28076,2.50903 2.6875,2.50903c0.06299,0 0.11548,0 0.17847,-0.0105l1.74267,-0.10498c15.16968,-1.01831 29.77246,-6.16235 42.24414,-14.88623l6.89722,-4.8291l6.90772,4.8291c7.44311,5.21753 15.65259,9.1648 24.39746,11.71582c1.42773,0.41992 2.91846,-0.39892 3.32788,-1.81616c0.41992,-1.42773 -0.39892,-2.91846 -1.81616,-3.33838c-8.17798,-2.39355 -15.85205,-6.07837 -22.83325,-10.95996l-6.89722,-4.8291c-0.92383,-0.65088 -2.00513,-0.96582 -3.08643,-0.96582zM129.04199,37.50952c-1.48022,-0.23096 -2.83447,0.80835 -3.05493,2.26758c-0.20996,1.46973 0.79785,2.84497 2.26758,3.05493c2.1626,0.31494 4.36719,0.5564 6.56128,0.70337l1.5852,0.10498c0.06299,0 0.12598,0 0.18897,0c1.39624,0 2.58252,-1.0813 2.6665,-2.49853c0.10498,-1.49072 -1.01831,-2.77148 -2.48804,-2.87647l-1.5957,-0.09448c-2.04712,-0.14697 -4.11523,-0.35693 -6.13086,-0.66138zM120.61206,60.30078c-0.69287,0 -1.37524,0.26245 -1.90015,0.79785l-38.41235,38.40186l-19.58935,-19.59985c-1.0603,-1.0498 -2.75049,-1.0498 -3.81079,0c-1.0498,1.0498 -1.0498,2.75049 0,3.80029l21.5,21.5c0.5249,0.5249 1.21777,0.78735 1.90015,0.78735c0.69287,0 1.38574,-0.26245 1.91065,-0.78735l40.3125,-40.3125c1.0498,-1.0498 1.0498,-2.75049 0,-3.80029c-0.5354,-0.5249 -1.21777,-0.78735 -1.91065,-0.78735zM72.23706,132.86328c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.49072 1.20728,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM85.67456,132.86328c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.49072 1.20728,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM99.11206,132.86328c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.49072 1.20728,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875z"></path></g></g>
                            </svg>
                            <p>Resmi zemanet</p>
                            <a>3 ilədək rəsmi zəmanət</a>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 width="40" height="40"
                                 viewBox="0 0 172 172"
                                 style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="#d4312c"></path><g fill="#ffffff"><path d="M0,19.35v92.45h6.45v27.95h10.87598c1.075,9.6498 9.28867,17.2 19.22402,17.2c9.93535,0 18.14902,-7.5502 19.22402,-17.2h51.85195c1.075,9.6498 9.28867,17.2 19.22402,17.2c9.93535,0 18.14902,-7.5502 19.22402,-17.2h21.62598c2.35156,0 4.3,-1.94844 4.3,-4.3v-8.6c0,-1.52012 -0.94063,-2.63711 -2.15,-3.40137v-29.82285l-14.15976,-36.69277c-2.23399,-5.79492 -7.82734,-9.63301 -14.03379,-9.63301h-40.60645v-27.95zM4.3,23.65h92.45v23.65c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15v30.1c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15v21.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15v23.65h-40.97598c-1.075,-9.6498 -9.28867,-17.2 -19.22402,-17.2c-9.93535,0 -18.14902,7.5502 -19.22402,17.2h-6.57598v-23.65c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15h-6.45zM10.75,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM19.35,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM27.95,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM36.55,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM45.15,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM53.75,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM62.35,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM70.95,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM79.55,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM88.15,47.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM101.05,51.6h30.1v30.1c0,4.72832 3.87168,8.6 8.6,8.6h2.99824c1.44453,0 2.77988,0.71387 3.57774,1.91484l0.47031,0.70547c1.5957,2.39355 4.2832,3.82969 7.15547,3.82969h11.59824v4.3h-4.3c-4.72832,0 -8.6,3.87168 -8.6,8.6v2.15h0.43672c0.98262,3.67012 4.19922,6.45 8.16328,6.45h4.3v4.3c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15h2.15v8.6h-21.62598c-1.075,-9.6498 -9.28867,-17.2 -19.22402,-17.2c-9.93535,0 -18.14902,7.5502 -19.22402,17.2h-6.57598zM135.45,51.6h6.20645c4.44277,0 8.42363,2.72949 10.01934,6.87832l13.10996,33.97168h-10.83398c-1.44453,0 -2.77988,-0.71387 -3.57774,-1.91484l-0.47871,-0.70547c-1.5873,-2.39355 -4.2748,-3.82969 -7.14707,-3.82969h-2.99824c-2.40195,0 -4.3,-1.89805 -4.3,-4.3zM113.95,58.05c-3.53574,0 -6.45,2.91426 -6.45,6.45v19.35c0,3.53574 2.91426,6.45 6.45,6.45h4.3c3.53574,0 6.45,-2.91426 6.45,-6.45v-19.35c0,-3.53574 -2.91426,-6.45 -6.45,-6.45zM113.95,62.35h4.3c1.21777,0 2.15,0.93223 2.15,2.15v19.35c0,1.21777 -0.93223,2.15 -2.15,2.15h-4.3c-1.21777,0 -2.15,-0.93223 -2.15,-2.15v-19.35c0,-1.21777 0.93223,-2.15 2.15,-2.15zM10.75,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM19.35,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM27.95,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM36.55,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM45.15,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM53.75,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM62.35,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM70.95,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM79.55,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM88.15,81.7c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM161.25,105.35h4.3v8.6h-4.3c-2.40195,0 -4.3,-1.89805 -4.3,-4.3c0,-2.40195 1.89805,-4.3 4.3,-4.3zM19.35,107.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM27.95,107.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM36.55,107.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM45.15,107.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM53.75,107.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM62.35,107.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM70.95,107.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM79.55,107.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM88.15,107.5c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM36.55,122.55c8.33965,0 15.05,6.71035 15.05,15.05c0,8.33965 -6.71035,15.05 -15.05,15.05c-8.33965,0 -15.05,-6.71035 -15.05,-15.05c0,-8.33965 6.71035,-15.05 15.05,-15.05zM126.85,122.55c8.33965,0 15.05,6.71035 15.05,15.05c0,8.33965 -6.71035,15.05 -15.05,15.05c-8.33965,0 -15.05,-6.71035 -15.05,-15.05c0,-8.33965 6.71035,-15.05 15.05,-15.05zM148.35,122.55c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM156.95,122.55c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM36.55,131.15c-3.53574,0 -6.45,2.91426 -6.45,6.45c0,3.53574 2.91426,6.45 6.45,6.45c3.53574,0 6.45,-2.91426 6.45,-6.45c0,-3.53574 -2.91426,-6.45 -6.45,-6.45zM126.85,131.15c-3.53574,0 -6.45,2.91426 -6.45,6.45c0,3.53574 2.91426,6.45 6.45,6.45c3.53574,0 6.45,-2.91426 6.45,-6.45c0,-3.53574 -2.91426,-6.45 -6.45,-6.45zM36.55,135.45c1.20938,0 2.15,0.94063 2.15,2.15c0,1.20937 -0.94062,2.15 -2.15,2.15c-1.20938,0 -2.15,-0.94063 -2.15,-2.15c0,-1.20937 0.94062,-2.15 2.15,-2.15zM126.85,135.45c1.20937,0 2.15,0.94063 2.15,2.15c0,1.20937 -0.94063,2.15 -2.15,2.15c-1.20937,0 -2.15,-0.94063 -2.15,-2.15c0,-1.20937 0.94063,-2.15 2.15,-2.15z"></path></g></g>
                            </svg>
                            <p>Gun erzinde catdirilma</p>
                            <a>Sürətli, təhlükəsiz və təmassız</a>
                        </div>

                    </div>
                </div>
                <div id="gunun_teklifi">

                    <h1>Gunun Teklifi</h1>
                    <div id="time">
                        <div id="border">
                            <p id="hourse"><p>
                            <p>saat</p>
                        </div>
                        <div id="border">
                            <p id="minute"><p>
                            <p>deqiqe</p>
                        </div>
                        <div>
                            <p id="second"><p>
                            <p>saniye</p>
                        </div>
                    </div>
                    <section id="slider2">
                        <div class="btn">
                            <svg id="left_btn" onclick="slider_prev(slider2)" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 width="30" height="30"
                                 viewBox="0 0 172 172"
                                 style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e4e4e4"><path d="M96.49159,23.72236l-62.27765,62.27764l62.27765,62.27765l18.70913,-18.70913l-43.56851,-43.56851l43.56851,-43.56851z"></path></g></g>
                            </svg>
                        </div>
                        <div id="article">


                            <div class="sliderr">
                                <!-- //Slider1 img -->

                                @foreach (var item2 in Model.sliders)
                                {
                                    @foreach (var item3 in item2.GetToday_Is_Offers)
                                    {



                                        <div id="q1" class="fadeimg" src="https://dummyimage.com/640x310/0000ff/fff">
                                            <div id="e">

                                                <img src=@item3.Path></img>


                                            </div>
                                            <div id="r">
                                                <p> @item3.Name</p>
                                                <p>L755</p>
                                            </div>
                                            <div id="price_">
                                                <div id="price">
                                                    <p>@item3.Price</p>
                                                </div>
                                                <div>
                                                    <button>Sebet</button>
                                                </div>

                                            </div>

                                        </div>
                                    }

                                }
                            </div>

                        </div>
                        <div class="btn" id="btn2">
                            <svg onclick="slider_next(slider2)" id="right_btn" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 width="30" height="30"
                                 viewBox="0 0 172 172"
                                 style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e4e4e4"><path d="M75.50842,23.72236l-18.70913,18.70913l43.56851,43.56851l-43.56851,43.56851l18.70913,18.70913l62.27764,-62.27765z"></path></g></g>
                            </svg>
                        </div>
                    </section>

                    <div id="next_menu">
                        <button />
                        <button />
                        <button />
                        <button />
                        <button />
                        <button />
                        <button />
                        <button />
                        <button />
                        <button />

                    </div>
                    <div id="gray">
                        <p>Butun teklifleri gor</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="container">
            <div id="photo">
                <div id="photo_r">
                    <img src="~/img/photo1.jpg" />
                </div>
                <div id="photo_l">
                    <img src="~/img/photo2.jpg" />
                </div>
            </div>
        </section>



        <section class="container">
            <div id="gunun_endirim">
                <div id="top_endr">
                    <a>Gunun endirimleri</a>
                    <div id="time2">
                        <div id="border">
                            <p id="hourse2"><p>
                            <p>saat</p>
                        </div>
                        <div id="border">
                            <p id="minute2"><p>
                            <p>deqiqe</p>
                        </div>
                        <div>
                            <p id="second2"><p>
                            <p>saniye</p>
                        </div>
                    </div>

                </div>

                <div id="bottom_endr">
                    <div class="slider1">
                        @for (int i = 0; i < 5; i++)
                        {


                            <div id="q5" class="fadeimg1">

                                <div id="slider_show">




                                    <div>

                                        <div id="slider3">
                                            <div id="slider3img">
                                                <img />

                                            </div>
                                            <p>Xiaomi REDMI9</p>
                                            <p style=margin>3/32GB</p>
                                            <div id="slider2_price">
                                                <div id="price">
                                                    <a>359.5M</a>
                                                </div>
                                                <div>
                                                    <button id="sebet">Sebete at</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        }



                        <div class="gradient"></div>

                    </div>
                    <div id="all_offer">

                        <a>Butun teklifleri gor</a>

                        <div id="next_menu2">
                            <button />
                            <button />
                            <button />
                            <button />
                            <button />
                            <button />
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ///////////// -->
        <section class="container">
            <div id="gunun_endirim">
                <div id="top_endr">

                    <a>Teklifler</a>

                    <div id="ctgr">
                        <div id="ctgr1" onclick="ctgr(ctgr1)">

                            <p>Mebel</p>
                        </div>
                        <div onclick="ctgr(ctgr2)" id="ctgr2">

                            <p>Meiset texnikasi</p>
                        </div>
                        <div onclick="ctgr(ctgr3)" id="ctgr3">

                            <p>Komputer ve ofis avadanliqlari</p>
                        </div>
                        <div onclick="ctgr(ctgr4)" id="ctgr4">

                            <p>Tv,audio video</p>
                        </div>
                        <div onclick="ctgr(ctgr5)" id="ctgr5">

                            <p>Top20</p>
                        </div>
                    </div>

                </div>

                <div id="bottom_endr">
                    <div class="slider1">

                        <div id="q5" class="fadeimg1">
                            <div id="slider_show">

                                <div>
                                    <div id="slider3">
                                        <div id="faizsiz">
                                            <p>12 ay</p>
                                            <p id="p">Faizsiz</p>
                                        </div>
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="slidernone">

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                        <div id="q6" class="fadeimg1">
                            <div id="slider_show">

                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="slidernone">

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="q7" class="fadeimg1">
                            <div id="slider_show">

                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="slidernone">

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="q8" class="fadeimg1">
                            <div id="slider_show">

                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="slidernone">

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="q9" class="fadeimg1">
                            <div id="slider_show">

                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <p class="line">359.5M</p>
                                                <p>159.5M</p>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <a>359.5M</a>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <a>359.5M</a>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <a>359.5M</a>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="slidernone">

                                    <div id="slider3">
                                        <div id="slider3img">


                                        </div>
                                        <p>Xiaomi REDMI9</p>
                                        <p style=margin>3/32GB</p>
                                        <div id="slider2_price">
                                            <div id="price">
                                                <a>359.5M</a>
                                            </div>
                                            <div>
                                                <button id="sebet">Sebete at</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gradient"></div>

                    </div>
                    <div id="all_offer">

                        <a>Butun teklifleri gor</a>

                        <div id="next_menu2">
                            <button />
                            <button />
                            <button />
                            <button />
                            <button />
                            <button />
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ///////////////// -->
        <section class="container">
            <div id="gunun_endirim">
                <div id="top_endr">
                    <a>Son 15 gunde en cox satilan mehsul</a>


                </div>

                <div id="bottom_endr">
                    <div id="slider_show">

                        <div>
                            <div id="slider3">
                                <div id="slider3img">


                                </div>
                                <p>Xiaomi REDMI9</p>
                                <p style=margin>3/32GB</p>
                                <div id="slider2_price">
                                    <div id="price">
                                        <a>359.5M</a>
                                    </div>
                                    <div>
                                        <button id="sebet">Sebete at</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="slider3">
                                <div id="slider3img">


                                </div>
                                <p>Xiaomi REDMI9</p>
                                <p style=margin>3/32GB</p>
                                <div id="slider2_price">
                                    <div id="price">
                                        <a>359.5M</a>
                                    </div>
                                    <div>
                                        <button id="sebet">Sebete at</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="slider3">
                                <div id="slider3img">


                                </div>
                                <p>Xiaomi REDMI9</p>
                                <p style=margin>3/32GB</p>
                                <div id="slider2_price">
                                    <div id="price">
                                        <a>359.5M</a>
                                    </div>
                                    <div>
                                        <button id="sebet">Sebete at</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>

                            <div id="slider3">
                                <div id="slider3img">


                                </div>
                                <p>Xiaomi REDMI9</p>
                                <p style=margin>3/32GB</p>
                                <div id="price_">
                                    <div id="price">
                                        <a>359.5M</a>
                                    </div>
                                    <div>
                                        <button id="sebet">Sebete at</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="slidernone">

                            <div id="slider3">
                                <div id="slider3img">


                                </div>
                                <p>Xiaomi REDMI9</p>
                                <p style=margin>3/32GB</p>
                                <div id="slider2_price">
                                    <div id="price">
                                        <a>359.5M</a>
                                        <br />
                                        <a>159.5M</a>
                                    </div>
                                    <div>
                                        <button id="sebet">Sebete at</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="all_offer">

                        <a>Butun teklifleri gor</a>

                        <div id="next_menu2">
                            <button />
                            <button />
                            <button />
                            <button />
                            <button />
                            <button />
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section id="video_show">
            <div class="container">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </section>

        <section id="partnyorlar">
            <div class="container">

            </div>
        </section>
    </main>

    <footer>
        <section class="container">
            <div id="footer_right">
                <ul>
                    <p>Informasiya</p>
                    <li>
                        <a>Karyera</a>
                    </li>
                    <li>
                        <a>Konfidensialliq siyaseti</a>
                    </li>
                    <li>
                        <a>Sirket haqqinda</a>
                    </li>
                    <li>
                        <a>Hisse hisse odenis sertleri</a>
                    </li>
                </ul>
                <ul>
                    <p>Musteriler</p>
                    <li>
                        <a>Saytinin istifade sertleri</a>
                    </li>
                    <li>
                        <a>Kondifisienalliq siyaseti</a>
                    </li>
                </ul>
                <ul>
                    <p>Sirket</p>
                    <li>
                        <a>Sirket haqqinda</a>
                    </li>
                    <li>
                        <a>Karyera</a>
                    </li>
                </ul>
            </div>
            <div id="footer_left">
                <ul>
                    <p>ELaqe</p>
                    <li>
                        <a>*6060</a>
                    <li>
                    <li>
                        <a>Magazalarmiz xeritede</a>
                    <li>
                </ul>
                <ul>
                    <p>Bizimle qalin</p>
                    <li>
                        <a>
                            FB
                        </a>
                        <a>
                            Instagram
                        </a>
                        <a>
                            Youtube
                        </a>

                    </li>
                </ul>
                <ul>
                    <li>

                        <a>Visa</a>
                    </li>
                    <li>

                        <a>Master</a>
                    </li>
                </ul>

            </div>
        </section>

    </footer>
    <script>
                            //Time

                    function startTime() {
                      var today = new Date();
                      var h = today.getHours();
                      var m = today.getMinutes();
                      var s = today.getSeconds();
                      m = checkTime(m);
                      s = checkTime(s);
                      document.getElementById('hourse').innerHTML =
                       h;
                       document.getElementById('hourse2').innerHTML =
                       h;
                       document.getElementById('minute').innerHTML =
                       m;
                         document.getElementById('minute2').innerHTML =
                       m;
                       document.getElementById('second').innerHTML =
                       s;
                        document.getElementById('second2').innerHTML =
                       s;

                      var t = setTimeout(startTime, 500);

                    }
                    function checkTime(i) {
                      if (i < 10) {i = "0" + i};
                      return i;
                    }
                    //Time end

                    //Slider action

                    var slider1 = document.getElementById("slider1");
                    var slider2 = document.getElementById("slider2img");
                    var x=1;
                    var y=1;
                    function slider_next(slider)
                    {
                        if(slider==slider1){

                        if(x==5)
                        {
                            x=1;
                            show(slider1);
                        }
                        x++;

                        show(slider1);
                        }
                        else
                        {
                        if(y==7)
                        {
                            y=1;
                            show(slider2);
                        }
                        y++;

                        show(slider2);

                        }


                    }
                    function  slider_prev(slider)
                    {
                        if(slider==slider1)
                        {
                        if(x==1)
                        {
                            x=5;
                            show(slider1);
                        }
                        x--;
                        show(slider1);
                        }else
                        {
                        if(y==1)
                        {
                            y=7;
                            show(slider2);
                        }
                        y--;
                        show(slider2);



                        }
                    }
                    function show(slider)
                    {
                        if(slider==slider1)
                        {
                        slider1.style.backgroundImage = "url('img/img" + x + ".jpg')";
                        }else
                        {
                        slider2.style.backgroundImage = "url('img/slider2img" + y + ".jpg')";
                        }
                    }

                    var ctgrid=document.getElementById("ctgr5");
                        ctgrid.style.backgroundColor="white";
                    function ctgr(d)
                    {

                            ctgrid.style.backgroundColor="rgb(240, 241, 242)";


                            d.style.backgroundColor="white";
                            <!-- a.style.border-top-left-radius="10px"; -->
                    <!-- a.style.border-top-right-radius="10px"; -->
                    ctgrid=d;
                    }




    </script>

</body>
</html>

